<!-- Three -->
<section id="three" class="wrapper style2 special">
	<header class="major">
		<h2>A sequence and file browser <u>that just works!</u></h2>
		<p>Get started today, <b>for free.</b></p>
	</header>
	<ul class="actions">
		<li><a href="{{ site.download_button_url }}" class="button special icon fa-download">Get FSeq</a></li>
		<li><a href="#two" class="button">Show Features</a></li>
		<!-- <li><a class="button special icon fa-download" href="https://lasselauch.lemonsqueezy.com/checkout/buy/981edfe2-cf03-48f1-a77e-11e0574ac4ce?embed=1" class="lemonsqueezy-button">Get Fseq</a><script src="https://app.lemonsqueezy.com/js/checkout.js" defer></script></li> -->
	</ul>
</section>
