<!-- Three -->
<section id="three" class="wrapper style2 special">
	<header class="major">
		<h2>A sequence and file browser <u>that just works!</u></h2>
		<p>Get started today, <b>for free.</b></p>
	</header>
	<ul class="actions">
		<!-- <li><a href="{{ site.download_button_url }}" class="button special icon fa-download">Get FSeq</a></li> -->
		<li><a href="https://lasselauch.lemonsqueezy.com/checkout/buy/97df2b03-e6e2-4af8-ac66-f3286a75501c?embed=1" class="button special icon fa-download lemonsqueezy-button">Get FSeq</a><script src="https://app.lemonsqueezy.com/js/checkout.js" defer></script></li>
		<li><a href="#features" class="button scrolly">Show Features</a></li>
		<li><a href="/changelog" class="button">Changelog</a></li>
	</ul>
</section>