<!-- Header -->
  <header id="header">
    <div class="content">
      <h1><a href="#">{{ site.title }}</a></h1>
      <p>A quick image sequence and file browser that just works!<br />Made by the developer of <a target="_blank" rel="noopener noreferrer" href="https://aescripts.com/aec4d/">AEC4D-PRO</a></p>
      <ul class="actions">
        <li><a href="{{ site.download_button_url }}" class="button special icon fa-download">Get FSeq</a></li>
        <!-- <li><a class="button special icon fa-download" href="https://lasselauch.lemonsqueezy.com/checkout/buy/981edfe2-cf03-48f1-a77e-11e0574ac4ce?embed=1" class="lemonsqueezy-button">Get Fseq</a><script src="https://app.lemonsqueezy.com/js/checkout.js" defer></script></li> -->
        <li><a href="#one" class="button icon fa-chevron-down scrolly">Learn More</a></li>
      </ul>
    </div>
    <div class="image phone"><div class="inner"><img src="assets/images/screen.jpg" alt="" /></div></div>
  </header>
