<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
<!-- {% include navigation.html %} -->
<section id="one" class="wrapper style1 special">
<h2><a class="big-drop-shadow" href="/">{% include logo.html %}</a></h2>
<h1>FSeq's Changelog</h1>
<ul class="actions">
	<li><a target="_blank" rel="noopener noreferrer" href="https://github.com/lasselauch/FSeq-Home/issues" class="button special icon fa-bug">Report Bug</a></li>
	<li><a href="https://lasselauch.lemonsqueezy.com/checkout/buy/97df2b03-e6e2-4af8-ac66-f3286a75501c?embed=1" class="button special icon fa-download lemonsqueezy-button">Get FSeq</a><script src="https://app.lemonsqueezy.com/js/checkout.js" defer></script></li>
</ul>
</section>

<section id="latest" class="body wrapper special">
{{ content }}
</section>
{% include footer.html %}
</body>
</html>
